svg{
  background:transparent;
}

circle:hover{
  opacity:.5;

}
*{
	padding:0;
	margin:0;
}

h1,p,label{
	text-align:center;
	color: rgba(126,132,251,1);
	font-family:sans-serif;

}
li{
  display:inline;
  padding:20px;
}
ul{
  margin-top:40px;
  text-align: center;
}
a{
  letter-spacing: 2.5px;
  font-family:sans-serif;
  text-decoration: none;
  color:#f689b2;
}
a:hover{
  color:#eee1fb;
}
h1{
 margin:15px;
}

body{
  background: #100a1c;
  background-image:
  radial-gradient(50% 90% ellipse at left, #201e40 0%, rgba(0,0,0,0) 100%),
  radial-gradient(50% 90% ellipse at  right, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
}
.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  
  width: 200px;
  margin-top: 10px;
}
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #78fafe;
  height: 2px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  transition: border 1000ms ease;
}
#submit, .dropdown-select{
  font-size: 16px;
  border: 1px solid rgba(126,132,251,.5);
  background: transparent ;
  color: rgba(126,132,251,1);
  cursor: pointer;
  outline:none;
  margin: 0.25em;
  width: 100px;
  height: 40px;
  transition: all 0.5s;
}
.username{
  padding-left:10px;
  margin:10px;  
  font-size: 16px;
  border: 1px solid rgba(126,132,251,.5);
  background:transparent;
  color: rgba(126,132,251,1);
  width:200px;
  outline:none;
  height:40px;
}
#submit:hover{
  border: 1px solid rgba(126,132,251,.8);
}
#submit:active{
  border: 1px solid rgba(126,132,251,.8);
  color:black;
}
.notes{
  border: 1px solid rgba(126,132,251,.5);
  padding:10px;
  color: rgba(126,132,251,1);
  height: 100px;
  font-weight:400;
  font-size:18px;
  font-family: Helvetica, Arial, sans-serif;
  background:transparent;
  line-height:1em;
  outline:none;
}
.notes:focus, .username:focus{
  border: 1px solid rgba(126,132,251,.8);
}
#dropdown,#notes,#range{
  display:block;
}
#notes,#range{
  margin-top:20px;
}
#transaction{
  width:40%;
  padding-top:20px;
  padding-bottom:40px;
}
.formSection,.d3Viz{
  display:inline;
  width:30%;
}

